/vendor
/node_modules
/.git
/.env
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
/public/hot
/public/storage
/.phpunit.result.cache
/docker-compose.yml
/Dockerfile
.DS_Store
.editorconfig
.idea
.vscode
php_errors.log

